*{
	margin:10px;
	font-family:'reggae one', sans-serif;
}
body {

      background: url(photos.jpg) no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

h1 {
  text-align: center;
  color:BLACK;
  font-family:'reggae one', sans-serif;
}
	
p {
text-align: center;
 color:black;
  font-family:'reggae one', sans-serif;
  font-size: 30px;
}

img {
  width: auto;
  height: 300px;
}

h2 {
  text-align:center;
  color: BLACK;
   font-family: 'reggae one', sans-serif;
}

.navbar {
	position : sticky;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	padding: 10px;
	background-color: #b083fc;
	z-index:1;
}
.navbar a {
	color: black;
	text-decoration:none;
}

